<div class="col-md-2"></div>
<div class="col-md-8 div-ladder">

	<!-- Buscamos la posicion del usuario -->
	<% position = 0 %>
	<% until(position == @runners.length || current_user.name == @runners[position].name) %>	
		<%# @runners[position].name %>
		<% position += 1 %>

	<% end %>

	<div class="row rank-status-div">
	<table class="table table-condensed table-hover table-ladder">
			<thead>
        		<tr>
        			<th>Position</th>
        			<th>Rank</th>
        			<th>Photo</th>
        			<th>Name</th>
        			<th>Level</th>
        			<th>Experience</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr class="warning">
					<td class="users-number-position">1</td>
					<td><img src="/ladder/1 Gran Maestro.png"></td>
					<td><%= image_tag(@toprunner.photo, class: 'img-circle img-ladder') %></td>
					<td class="users-name-ladder"><%= @toprunner.name %></td>
					<td><%= @toprunner.level %></td>
					<td><%= @toprunner.experience %>/1000</td>
				</tr>
				<tr><td colspan='6'>...</td></tr>
				<% if(position-2 > 0) %>
				<tr  class="info">
					<td class="users-number-position"><%= (position-2)+1 %></td>
					<td></td>
					<td><%= image_tag(@runners[position-2].photo, class: 'img-circle img-ladder') %></td>
					<td class="users-name-ladder"><%= @runners[position-2].name %></td>
					<td><%= @runners[position-2].level %></td>
					<td><%= @runners[position-2].experience %>/1000</td>
				</tr>
				<% end %>
				<% if(position-1 > 0) %>
				<tr class="info center-align">
					<td class="users-number-position"><%= (position-1)+1 %></td>
					<td></td>
					<td><%= image_tag(@runners[position-1].photo, class: 'img-circle img-ladder') %></td>
					<td><%= @runners[position-1].name %></td>
					<td><%= @runners[position-1].level %></td>
					<td><%= @runners[position-1].experience %>/1000</td>
				</tr>
				<% end %>
				<tr class="active">
					<td class="users-number-position"><%= position+1 %></td>
					<td></td>
					<td><%= image_tag(@auth['info']['image'], class: 'img-circle img-ladder') %></td>
					<td><%= @runners[position].name %></td>
					<td><%= @runners[position].level %></td>
					<td><%= @runners[position].experience %>/1000</td>
				</tr>
				
				<% if(position+1 < @runners.length) %>
				<tr class="info">
					<td class="users-number-position"><%= (position+1)+1 %></td>
					<td></td>
					<td><%= image_tag(@runners[position+1].photo, class: 'img-circle img-ladder') %></td>
					<td><%= @runners[position+1].name %></td>
					<td><%= @runners[position+1].level %></td>
					<td><%= @runners[position+1].experience %>/1000</td>
				</tr>
				<% end %>
				<% if position+2 < @runners.length %>
				<tr class="info">
					<td class="users-number-position"><%= (position+2)+1 %></td>
					<td></td>
					<td><%= image_tag(@runners[position+2].photo, class: 'img-circle img-ladder') %></td>
					<td><%= @runners[position+2].name %></td>
					<td><%= @runners[position+2].level %></td>
					<td><%= @runners[position+2].experience %>/1000</td>
				</tr>
				<% end %>
				
				<tr><td colspan='6'>...</td></tr>
				<tr><td colspan='6'><hr></td></tr>
			</tbody>
	</table>
	<%# @runners[position].name %>
	</div>
</div>
<div class="col-md-2"></div>