<div class="col-md-2"></div>
<div class="col-md-8 div-ladder">

	<!-- <h4 class="text-center"> Top 3 runners on the world </h4>
	<% @toprunners.each do |runner| %>
		<% namerunner = runner.name.split(" ") %>
		<div class="row row-top-ladder-users pull-left">
			<div class="col-md-3">
				<%# if "prueba" != "prueba" %> --> <!-- Falta controlar la imagen de los usuarios -->
					<%# image_tag(@auth['info']['image'], class: 'img-circle img-ladder') %>
				<%# else %>
					<!-- <img src='/user.png' class='img-circle img-ladder'>
				<%# end %>
				<%# image_tag(@auth['info']['image'], class: 'img-circle img-ladder') %>
			</div>
			<div class="col-md-5"><samp class="top-users-name-ladder"><%= namerunner[0] %></samp></div>
			<div class="col-md-4">LV.<%= runner.level %></div>
		</div>
	<% end %>
	<div class="clearfix"></div> -->
	

	<!--<div class="row rank-status-div">
		
		<p class="text-center rank-status-title">CURRENT LADDER</p>
	
	<div> -->
	<!-- Buscamos la posicion del usuario -->
	<% position = 0 %>
	<% until(position == @runners.length || current_user.name == @runners[position].name) %>	
		<%# @runners[position].name %>
		<% position += 1 %>

	<% end %>
	<% pos = position+1 %>
	<div class="row rank-status-div">
	<table class="table table-hover">
		<tr>
			<td><%= position-2 %></td>
			<td><img src='/user.png' class='img-circle img-ladder'></td>
			<td><%= @runners[position-2].name %></td>
			<td><%= @runners[position-2].level %></td>
			<td><%= @runners[position-2].experience %></td>
		</tr>
		<tr>
			<td><%= position-1%></td>
			<td><img src='/user.png' class='img-circle img-ladder'></td>
			<td><%= @runners[position-1].name %></td>
			<td><%= @runners[position-1].level %></td>
			<td><%= @runners[position-1].experience %></td>
		</tr>
		<tr>
			<td><%= position %></td>
			<td><%= image_tag(@auth['info']['image'], class: 'img-circle img-ladder') %></td>
			<td><%= @runners[position].name %></td>
			<td><%= @runners[position].level %></td>
			<td><%= @runners[position].experience %></td>
		</tr>
		<% if(pos <= @runners.length) %>
		<tr>
			<td><%= pos %></td>
			<td><img src='/user.png' class='img-circle img-ladder'></td>
			<td><%= @runners[pos].name %></td>
			<td><%= @runners[pos].level %></td>
			<td><%= @runners[pos].experience %></td>
		</tr>
		<% elsif position+2 < @runners.length %>
		<tr>
			<td><%= position+2 %></td>
			<td><img src='/user.png' class='img-circle img-ladder'></td>
			<td><%= @runners[position+2].name %></td>
			<td><%= @runners[position+2].level %></td>
			<td><%= @runners[position+2].experience %></td>
		</tr>
		<% end %>
	</table>
	<%# @runners[position].name %>
	</div>
</div>
<div class="col-md-2"></div>