<h1> List of routes </h1>
	<% @routes.each do |route| %>
		<div>
			<%= route.name %>
			<%= route.location %>
			<%= route.difficulty %>
			<a href=<%= route_path(route) %> id="route-id" data-id=<%= route.id %>>Show</a>
		</div>
	<% end %>

	

	