
<div class="container-fluid">
	<div clas="row">
		<div class="col-md-12 info-list-routes">
			<h1 class="float-left"> List of routes </h1>

			<div class="select-route-dropdownbox text-right">
				<small class="text-right">Select your place: </small>
				<%= form_for @routesLocation do |f| %>
					<%= f.select :location, options_for_select(@locations)%>
				<% end %>
			</div>
			<div class="clearfix"></div>
			
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
			      		<tr class="info">
			        		<th>Name</th>
			       			<th>Difficulty</th>
			       			<th>Description</th>
			       			<th>Location</th>
			      		</tr>
			    	</thead>
			    	<tbody>
				<% @routes.each do |route| %>
						<tr class="click-row-routes" data-href=<%= route_path(route) %> id="row-route">
							<td><%= route.name %></td>
							<td><%= route.difficulty %></td>
							<td><%= route.description %></td>
							<td><%= route.location %></td>
						</tr>
				<% end %>
					</tbody>
				</table>
			</div>

		</div>
	</div>
		<div class="clearfix"></div>
</div>

	

