<!DOCTYPE html>
<html>
<head>
	<title>KeepRunning</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<header class= "container-fluid">
		<div class="row">
		<div class="col-md-3">
			<img src="/logo.png">
		</div>
		<div class="col-md-6 menu-container">
			<% if current_user %>
				<%= link_to histories_path do %>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-user menu-icon"></span>
						<span>PROFILE</span>
					</button>
				</div>
				<% end %>
				<%= link_to routes_path do %>
					<div class="menu-div">
						<button type="button" class="btn btn-default btn-lg menu-btn">
							<span class="glyphicon glyphicon-road menu-icon"></span>
							<span>ROUTES</span>
						</button>
					</div>
				<% end %>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-list menu-icon"></span>
						<span>LADDER</span>
					</button>
				</div>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-duplicate menu-icon"></span>
						<span>NEWS</span>
					</button>
				</div>
				<%= link_to 'sign_out', method: :delete do %>
					<div class="menu-div">
						<button type="button" class="btn btn-default btn-lg menu-btn">
							<span class="glyphicon glyphicon-log-out menu-icon"></span>
							<span class="menu-text">EXIT</span>
						</button>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-3">
			<div class="row">
			<% if current_user %>
				<div class="col-md-10">
					<div class="profile-name"><%= current_user.name %></div>
					<div class="profile-stars">LV.<%= current_user.level %>
						<% if current_user.experience >= 0 && current_user.experience < 200 %>
							<img src="/images/stars/0.png" class="img-stars">
						<% elsif current_user.experience >= 200 && current_user.experience < 400 %>
							<img src="/images/stars/1.png" class="img-stars">
						<% elsif current_user.experience >= 400 && current_user.experience < 500 %>
							<img src="/images/stars/2.png" class="img-stars">
						<% elsif current_user.experience >= 500 && current_user.experience < 700 %>
							<img src="/images/stars/3.png" class="img-stars">
						<% elsif current_user.experience >= 700 && current_user.experience < 900 %>
							<img src="/images/stars/4.png" class="img-stars">
						<% elsif current_user.experience >= 900 %>
							<img src="/images/stars/5.png" class="img-stars">
						<% end %>
					</div>
					<div class="profile-experience">Experience: <%= current_user.experience %> / 1000</div>
				</div>
				
				<div class="col-md-2">
					<%= image_tag(@auth['info']['image'], class: 'img-circle profile-img') %>
				</div>
            	<%# current_user.name %>
            	<%# link_to "Sign Out", 'sign_out', method: :delete %>
            <% else %>
            	<%= link_to 'auth/github' do %><img class="icon-logo" src="icons/icon-github.png"><% end %> 
            	<%= link_to 'auth/twitter' do %><img class="icon-logo" src="icons/icon-twitter.png"><% end %> 
            	<%= link_to 'auth/facebook' do %><img class="icon-logo" src="icons/icon-facebook.png"><% end %>
            <% end %>
        	</div>
		</div>
		</div>
	</header>


<%= yield %>


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSZq47VF4aOIIJOTXqI4q916hDXW0E6eA"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
