<!DOCTYPE html>
<html>
<head>
	<title>KeepRunning</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://www.google.com/jsapi"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
	<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/vicons-font.css" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/buttons.css" />
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="http://localhost:3000"><img src="/logo.png" class="nav-logo"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav box bg-1">
			<%= link_to histories_path do %>
				<li><button class="button button--itzel button--text-thick"><i class="button__icon glyphicon glyphicon-user nav-ico"></i><span>PROFILE</span></button></li>
			<% end %>
			<%= link_to routes_path do %>
				<li><button class="button button--itzel button--text-thick"><i class="button__icon glyphicon glyphicon-road nav-ico"></i><span>ROUTES</span></button></li>
			<% end %>
			<%= link_to ladders_path do %>
				<li><button class="button button--itzel button--text-thick"><i class="button__icon glyphicon glyphicon-list nav-ico"></i><span>LADDER</span></button></li>
			<% end %>
				<li><button class="button button--itzel button--text-thick"><i class="button__icon glyphicon glyphicon-duplicate nav-ico"></i><span>NEWS</span></button></li>
			<%= link_to 'sign_out', method: :delete do %>
				<li><button class="button button--itzel button--text-thick"><i class="button__icon glyphicon glyphicon-log-out nav-ico"></i><span>EXIT</span></button></li>
			<% end %>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	      	 <li class="dropdown row">
          		<div class="col-md-10 nav-li-profile">
					<div class="profile-name"><%= current_user.name %></div>
					<div class="profile-stars" id="user-level">
						LV.<%= current_user.level %>
						<img src="/images/stars/<%= getStarsImg(current_user) %>.png" class="img-stars">
					</div>
					<div class="profile-experience" id="user-experience">Experience: <%= current_user.experience %> / 1000</div>
				</div>
				
				<div class="col-md-2 nav-li-profile-img">
					<%= image_tag(@auth['info']['image'], class: 'img-circle profile-img') %>
				</div>
			</li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<% end %>

<%= yield %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>