<!DOCTYPE html>
<html>
<head>
	<title>KeepRunning</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  	<%= stylesheet_link_tag    'application', media: 'all' %>
  	<%= javascript_include_tag 'application' %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<header class= "container-fluid">
		<div class="row">
		<div class="col-md-3">
			<img src="/logo.png">
		</div>
		<div class="col-md-6 menu-container">
			<% if current_user %>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-home menu-icon"></span>
						<span class="menu-text">HOME<br>LogOut</span>
					</button>
				</div>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-road menu-icon"></span>
						<span>ROUTES</span>
					</button>
				</div>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-list menu-icon"></span>
						<span>LADDER</span>
					</button>
				</div>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-user menu-icon"></span>
						<span>PROFILE</span>
					</button>
				</div>
				<div class="menu-div">
					<button type="button" class="btn btn-default btn-lg menu-btn">
						<span class="glyphicon glyphicon-duplicate menu-icon"></span>
						<span>NEWS</span>
					</button>
				</div>
			<% end %>
		</div>
		<div class="col-md-3">
			<% if current_user %>
            	<%= current_user.name %> - <%= image_tag(@auth['info']['image'], width: '50', height:'50', class: 'img-circle') %>
            	<%= link_to "Sign Out", 'sign_out', method: :delete %>
            <% else %>
            	<%= link_to 'auth/github' do %><img class="icon-logo" src="icons/icon-github.png"><% end %> 
            	<%= link_to 'auth/twitter' do %><img class="icon-logo" src="icons/icon-twitter.png"><% end %> 
            	<%= link_to 'auth/facebook' do %><img class="icon-logo" src="icons/icon-facebook.png"><% end %>
            <% end %>
		</div>
		</div>
	</header>


<%= yield %>


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBSZq47VF4aOIIJOTXqI4q916hDXW0E6eA"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
